.app-login-form {
  max-width: 400px;
  flex-direction: column;
  padding: 20px;
  margin-top: 60px;
}

.app-login-button {
  margin: 15px;
}

.app-login-subtitle {
  border-top: 1p solid #3f51b5;
}

.app-login-title {
  color: #3f51b5;
}
